.git
.gitignore
.metadata
README.md
.dart_tool/
build/
.flutter-plugins
.flutter-plugins-dependencies
.packages
*.iml
*.ipr
*.iws
.idea/
*.log
*.pyc
*.swp
.DS_Store
.atom/
.vscode/
android/
ios/
linux/
macos/
windows/
test/
